<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <apikeys>
    <add key="http://localhost:5555/v3/index.json" value="UFn3io0WxVs41sH63bs6Mli0CvK0NW8kfe7XurBDgjB7V1SSoBufiX3GwZpUPtNitu+3LUPoF3XOL5IqAZr3ANIhl/R4Nn1YolShM1ZEpf8hnRetJNt+5J1lOkM4HBy5+mb8LbGbCJx+oT7+bDo24brg6s6mxSVaD2EFFSUQltj9wpDdpr82TS3jlRH3qM0WVWKbF/Rw5xIVIYlppRKL+j6hWRzkI/15rbgfeJGqnOlMLBKDLQhxpArbK64zRVm/Sm1c9Ij/KG5AThu6a9trVQ==" />
  </apikeys>
  <packageSources>
    <add key="MyServer" value="http://localhost:5555/v3/index.json" />
  </packageSources>
</configuration>